body{margin: 0}
.jiantouBox{
	width: 100px;
	height: 100px;
	padding-left: 20px;
	padding-top: 20px;
}
.icon-youjiantou{ 
	width: 0;
	height: 0; 
	border-left: 30px solid #888;
	border-bottom: 20px solid transparent;
	border-right: none;
	border-top: 10px solid transparent;
/*	非必要参数
	float:right;
	margin-right:40px;
	position: relative;
	top: 15px;
	vertical-align: middle;font-size:0;*/}
.icon-shuangxiangjiantou{
	width: 0;
	height: 0;
	border-left: 20px solid #888;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 20px solid #888;
}
.topBanner{width:100%; border: 1px solid #f00;margin: 0 auto;}
.picMobile{width:100%;display: block;}
.picWindow{width:100%;display: none;}
@media(min-width: 768px){
	.topBanner{width: 720px; }
	.picMobile{display: none;}
	.picWindow{display: block;}
}
@media(min-width: 1000px){
	.topBanner{width: 950px; }
	.picMobile{display: none;}
	.picWindow{display: block;}
}
@media(min-width: 1201px){
	.topBanner{width: 1150px; }
	.picMobile{display: none;}
	.picWindow{display: block;}
}