.div1{height: 150px;width:15%;float: left;}
.tittle{margin-top: 0;margin-bottom: 5px;}
.div2{margin-left: 20px;height: 150px;width:15%;float: left;}
.div3{height: 150px;width:15%;background: pink;float: left;}